<div ref="sidebar-groups" style="overflow: scroll;">
    
  <div ref="group-panel-basic" class="card form-builder-panel">
<div id="heading-basic" class="card-header form-builder-group-header">
<h5 class="mb-0 mt-0">
  <button ref="sidebar-anchor" aria-controls="group-basic" aria-expanded="true" data-parent="#builder-sidebar-e0o87ek" data-target="#group-basic" data-toggle="collapse" type="button" class="btn btn-block builder-group-button">
    Basic
  </button>
</h5>
</div>
<div ref="sidebar-group" aria-labelledby="heading-basic" data-default="true" data-parent="#builder-sidebar-e0o87ek" class="collapse  show" id="group-basic">
<div ref="sidebar-container" class="card-body no-drop p-2" id="group-container-basic">
  
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="textfield" data-key="textfield" data-group="basic">
        
          <i style="margin-right: 5px;" class="fa fa-terminal"></i>
        
        Text Field
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="textarea" data-key="textarea" data-group="basic">
        
          <i style="margin-right: 5px;" class="fa fa-font"></i>
        
        Text Area
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="number" data-key="number" data-group="basic">
        
          <i style="margin-right: 5px;" class="fa fa-hashtag"></i>
        
        Number
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="password" data-key="password" data-group="basic">
        
          <i style="margin-right: 5px;" class="fa fa-asterisk"></i>
        
        Password
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="checkbox" data-key="checkbox" data-group="basic">
        
          <i style="margin-right: 5px;" class="fa fa-check-square"></i>
        
        Checkbox
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="selectboxes" data-key="selectboxes" data-group="basic">
        
          <i style="margin-right: 5px;" class="fa fa-plus-square"></i>
        
        Select Boxes
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="select" data-key="select" data-group="basic">
        
          <i style="margin-right: 5px;" class="fa fa-th-list"></i>
        
        Select
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="radio" data-key="radio" data-group="basic">
        
          <i style="margin-right: 5px;" class="fa fa-dot-circle-o"></i>
        
        Radio
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="button" data-key="button" data-group="basic">
        
          <i style="margin-right: 5px;" class="fa fa-stop"></i>
        
        Button
      </span>
    
    
  
</div>
</div>
</div>


  <div ref="group-panel-advanced" class="card form-builder-panel">
<div id="heading-advanced" class="card-header form-builder-group-header">
<h5 class="mb-0 mt-0">
  <button ref="sidebar-anchor" aria-controls="group-advanced" aria-expanded="" data-parent="#builder-sidebar-e0o87ek" data-target="#group-advanced" data-toggle="collapse" type="button" class="btn btn-block builder-group-button">
    Advanced
  </button>
</h5>
</div>
<div ref="sidebar-group" aria-labelledby="heading-advanced" data-default="" data-parent="#builder-sidebar-e0o87ek" class="collapse" id="group-advanced">
<div ref="sidebar-container" class="card-body no-drop p-2" id="group-container-advanced">
  
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="email" data-key="email" data-group="advanced">
        
          <i style="margin-right: 5px;" class="fa fa-at"></i>
        
        Email
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="url" data-key="url" data-group="advanced">
        
          <i style="margin-right: 5px;" class="fa fa-link"></i>
        
        Url
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="phoneNumber" data-key="phoneNumber" data-group="advanced">
        
          <i style="margin-right: 5px;" class="fa fa-phone-square"></i>
        
        Phone Number
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="tags" data-key="tags" data-group="advanced">
        
          <i style="margin-right: 5px;" class="fa fa-tags"></i>
        
        Tags
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="address" data-key="address" data-group="advanced">
        
          <i style="margin-right: 5px;" class="fa fa-home"></i>
        
        Address
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="datetime" data-key="datetime" data-group="advanced">
        
          <i style="margin-right: 5px;" class="fa fa-calendar"></i>
        
        Date / Time
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="day" data-key="day" data-group="advanced">
        
          <i style="margin-right: 5px;" class="fa fa-calendar"></i>
        
        Day
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="time" data-key="time" data-group="advanced">
        
          <i style="margin-right: 5px;" class="fa fa-clock-o"></i>
        
        Time
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="currency" data-key="currency" data-group="advanced">
        
          <i style="margin-right: 5px;" class="fa fa-usd"></i>
        
        Currency
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="survey" data-key="survey" data-group="advanced">
        
          <i style="margin-right: 5px;" class="fa fa-list"></i>
        
        Survey
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="signature" data-key="signature" data-group="advanced">
        
          <i style="margin-right: 5px;" class="fa fa-pencil"></i>
        
        Signature
      </span>
    
    
  
</div>
</div>
</div>


  <div ref="group-panel-layout" class="card form-builder-panel">
<div id="heading-layout" class="card-header form-builder-group-header">
<h5 class="mb-0 mt-0">
  <button ref="sidebar-anchor" aria-controls="group-layout" aria-expanded="" data-parent="#builder-sidebar-e0o87ek" data-target="#group-layout" data-toggle="collapse" type="button" class="btn btn-block builder-group-button">
    Layout
  </button>
</h5>
</div>
<div ref="sidebar-group" aria-labelledby="heading-layout" data-default="" data-parent="#builder-sidebar-e0o87ek" class="collapse" id="group-layout">
<div ref="sidebar-container" class="card-body no-drop p-2" id="group-container-layout">
  
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="htmlelement" data-key="htmlelement" data-group="layout">
        
          <i style="margin-right: 5px;" class="fa fa-code"></i>
        
        HTML Element
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="content" data-key="content" data-group="layout">
        
          <i style="margin-right: 5px;" class="fa fa-html5"></i>
        
        Content
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="columns" data-key="columns" data-group="layout">
        
          <i style="margin-right: 5px;" class="fa fa-columns"></i>
        
        Columns
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="fieldset" data-key="fieldset" data-group="layout">
        
          <i style="margin-right: 5px;" class="fa fa-th-large"></i>
        
        Field Set
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="panel" data-key="panel" data-group="layout">
        
          <i style="margin-right: 5px;" class="fa fa-list-alt"></i>
        
        Panel
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="table" data-key="table" data-group="layout">
        
          <i style="margin-right: 5px;" class="fa fa-table"></i>
        
        Table
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="tabs" data-key="tabs" data-group="layout">
        
          <i style="margin-right: 5px;" class="fa fa-folder-o"></i>
        
        Tabs
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="well" data-key="well" data-group="layout">
        
          <i style="margin-right: 5px;" class="fa fa-square-o"></i>
        
        Well
      </span>
    
    
  
</div>
</div>
</div>


  <div ref="group-panel-data" class="card form-builder-panel">
<div id="heading-data" class="card-header form-builder-group-header">
<h5 class="mb-0 mt-0">
  <button ref="sidebar-anchor" aria-controls="group-data" aria-expanded="" data-parent="#builder-sidebar-e0o87ek" data-target="#group-data" data-toggle="collapse" type="button" class="btn btn-block builder-group-button">
    Data
  </button>
</h5>
</div>
<div ref="sidebar-group" aria-labelledby="heading-data" data-default="" data-parent="#builder-sidebar-e0o87ek" class="collapse" id="group-data">
<div ref="sidebar-container" class="card-body no-drop p-2" id="group-container-data">
  
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="hidden" data-key="hidden" data-group="data">
        
          <i style="margin-right: 5px;" class="fa fa-user-secret"></i>
        
        Hidden
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="container" data-key="container" data-group="data">
        
          <i style="margin-right: 5px;" class="fa fa-folder-open"></i>
        
        Container
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="datamap" data-key="datamap" data-group="data">
        
          <i style="margin-right: 5px;" class="fa fa-th-list"></i>
        
        Data Map
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="datagrid" data-key="datagrid" data-group="data">
        
          <i style="margin-right: 5px;" class="fa fa-th"></i>
        
        Data Grid
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="editgrid" data-key="editgrid" data-group="data">
        
          <i style="margin-right: 5px;" class="fa fa-tasks"></i>
        
        Edit Grid
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="tree" data-key="tree" data-group="data">
        
          <i style="margin-right: 5px;" class="fa fa-indent"></i>
        
        Tree
      </span>
    
    
  
</div>
</div>
</div>


  <div ref="group-panel-premium" class="card form-builder-panel">
<div id="heading-premium" class="card-header form-builder-group-header">
<h5 class="mb-0 mt-0">
  <button ref="sidebar-anchor" aria-controls="group-premium" aria-expanded="" data-parent="#builder-sidebar-e0o87ek" data-target="#group-premium" data-toggle="collapse" type="button" class="btn btn-block builder-group-button">
    Premium
  </button>
</h5>
</div>
<div ref="sidebar-group" aria-labelledby="heading-premium" data-default="" data-parent="#builder-sidebar-e0o87ek" class="collapse" id="group-premium">
<div ref="sidebar-container" class="card-body no-drop p-2" id="group-container-premium">
  
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="recaptcha" data-key="recaptcha" data-group="premium">
        
          <i style="margin-right: 5px;" class="fa fa-refresh"></i>
        
        reCAPTCHA
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="resource" data-key="resource" data-group="premium">
        
          <i style="margin-right: 5px;" class="fa fa-files-o"></i>
        
        Resource
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="file" data-key="file" data-group="premium">
        
          <i style="margin-right: 5px;" class="fa fa-file"></i>
        
        File
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="form" data-key="form" data-group="premium">
        
          <i style="margin-right: 5px;" class="fa fa-wpforms"></i>
        
        Nested Form
      </span>
    
      <span class="btn btn-primary btn-sm btn-block formcomponent drag-copy" data-type="custom" data-key="unknown" data-group="premium">
        
          <i style="margin-right: 5px;" class="fa fa-cubes"></i>
        
        Custom
      </span>
    
    
  
</div>
</div>
</div>


</div>