<main>
    <mat-card *ngFor="let item of items">
        <mat-card-header>
            <mat-card-title>{{item.first_name}}</mat-card-title>
        </mat-card-header>
            <mat-card-content>
                <img src="{{ item.avatar }}" alt="{{ item.first_name }}"/>
                {{item.email}}
            </mat-card-content>
        <mat-card-actions>
            <a  mat-raised-button color="primary">More</a>
        </mat-card-actions>            
    </mat-card>        
    <mat-paginator [pageIndex]="pageIndex"
                (page)="pageEvent = getServerData($event)" 
                [length]="pageTotal"
              [pageSize]="perPage"
              >
    </mat-paginator>      
</main>